*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn{
    box-shadow: 6px 9px 13px 2px rgba(0,0,0,0.2);
}

.cardAnim{
    /* transform: scale(1); */
    box-shadow: 21px 26px 13px -6px rgba(0,0,0,0.12);
    /* transition: transform 2seg ease-in-out; */
    transition: transform 0.3s;
    animation-name: pop;
    animation-duration: 0.2s;
}

html{
    width: 100%;
}

/* @keyframes pop {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
} */

.cardAnim:hover{
    transform: scale(1.06);
}

.cardDetail{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

thead{
    background-color: brown;
    color: white;
}

tbody{
    background-color: rgba(245, 245, 245, 0.753);
}

th,tr{
    padding: .2rem;
    border: .5px solid grey;
}

body{
    background-image: url(https://jooinn.com/images/blur-city.jpg);
    background-size: contain;
    width: 100%;
    min-height:100vh;
}

main{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar::placeholder{
    color: aliceblue;
}

.searchbar{
    color: white;
    height: 2rem ;
    width: 25rem;
    border-color: aliceblue;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    outline-color: white;
    border-radius: .2rem;
    background-color: transparent;
}

label{
    padding: 0px 5px;
    background-color: rgba(240, 248, 255, 0.564);
    border-radius: 6px;
}

input:checked + label{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.64);
}

label:hover{
    background-color: aliceblue;
    box-shadow: 0px 0px 7px white;
}

input[type=checkbox]{
    display: none;
}

.socials{
    padding: 1rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.socials a{
    color: white;
}

.cardD{
    background-color: rgba(0, 0, 0, 0.63);
    color: aliceblue;
    font-style: italic;
}

h3{
    color: aliceblue;
}

.cards{    
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding-top: 2rem;

}

h1{
    color:aliceblue;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
    background-color: rgba(7, 58, 121, 0.544);
}

footer{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background-color: black;
    position: sticky;
    bottom: 0px;
}

.footerinf{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

footer p{
    color: white;
    margin: 0;
    font-size: .7rem;
}

.searchsection{
    display: flex;
    gap: .5rem;
}

.searchB{
    width: 90%;
    display: flex;
    justify-content: space-between;    
}

.categories{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
}

@media screen and (min-width: 1800px){
    .searchB{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1024px){
    
    body{
        height: fit-content;
    }

    .searchB{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    label{
        width: 100%;
        text-align: center;
    }

    .categories{
        flex-direction: column;
        order: 2;
    }

    .searchsection{
        order: 1;
    }
}

    

@media screen and (max-width: 935px){
    
    body{
        width: 100%;
    }

    .searchB{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    label{
        width: 100%;
        text-align: center;
    }

    .categories{
        flex-direction: column;
        order: 2;
    }

    .searchsection{
        order: 1;
        width: 70%;
    }


    
}